

body {
  margin: 0;
  color: #fff;
    cursor: default;
  background-color: rgb(20, 20, 20);
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

.header{
  margin: 0;
  padding: 0;
  margin-top: 0;
  background: rgb(20, 20, 20);

}

.hero img{

  filter: drop-shadow(0 0 80px rgba(104, 83, 83, 0.402));
}

.movie{
    max-width: 300px;
    height: 172px;
    width: 272px;
    gap: 10px;
    border-radius: 5px;

    overflow: hidden;
    cursor: pointer;

    transition: transform 0.5s;
  }
  
  .movie:hover{
    transform: scale(1.2);
  }

.banner img{
  position: relative;
  width: 100%;
  height: 100%;
  border: 10px ;
  opacity: 0.4;


  
}

.banner_bg{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: rgba(58, 5, 5, 0);
  display: grid;
  place-items: center;
  font-size: 40px;
  color: rgba(250, 243, 243, 0.856);
  font-weight: bold;
}

.company{
  color: black;
  width: 101px;
  text-align: center;
  font-weight: bold;

}

.actor-card{
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;

}

.actor-card img{
  width: 133.2px;
}

.actor-card:hover > p {
  display: grid;
  transition: all 0.5s;
}

.actor-card p {
position: absolute;
width: 100%;
height: 100%;
text-align: center;
display: none;
place-items: center;
background: rgba(0, 0, 0, 0.493);
}

.overview{
  width: 100%;
  background: rgba(167, 161, 161, 0.096);
  font-weight: bold;
  
}


  .movie-budget p {
    background: linear-gradient(to right, rgba(172, 163, 163, 0.096) 50%, transparent 50%);
  }
  

  .opening-screen {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
    display: grid;
    place-items: center;
    
    z-index: -1; 
  }
  
  